{% load static %}
<div class="col-lg-2 col-md-3 col-sm-6">
  <h5 class="mb-3">Ресурсы</h5>
  <ul class="list-unstyled">
    {% comment %} <li class="mb-2 d-block text-start">
      <a class="text-nowrap text-decoration-none" href="{% url 'index' %}#">Документация</a>
    </li> {% endcomment %}
    <li class="mb-2 d-block text-start">
      <a class="text-nowrap text-decoration-none" href="#">Методология</a>
    </li>
    <li class="mb-2 d-block text-start">
      <a class="text-nowrap text-decoration-none" href="#">Стадии проектов</a>
    </li>
    <li class="mb-2 d-block text-start">
      <a class="text-nowrap text-decoration-none" href="#">Ключевые рынки</a>
    </li>
  </ul>
</div>
