{% load static %}
<div class="col-lg-4 col-md-6">
  <div class="footer-brand d-flex align-items-center mb-3">
    <img id="navbar_brand_logo" src="{% static 'img/elements/logo.webp' %}" alt="IdeaHu" class="me-2 me-md-3" style="height: 28px; width: auto;" />
    <span class="h4 mb-0">IdeaHub</span>
  </div>
  <p class="text-muted">Центр идей, созданных на&nbsp;базе РИД.</p>

  <!-- Соцсети -->
  <div class="social-links d-flex align-items-center mt-3">
    <!-- Email -->
    <a href="mailto:info@b-model.pro" class="text-primary me-3" aria-label="Email" target="_blank" rel="noopener noreferrer"><i class="bi bi-envelope-fill fs-5"></i></a>

    <!-- WhatsApp -->
    <a href="https://wa.me/79167536868" class="text-primary me-3" aria-label="WhatsApp" target="_blank" rel="noopener noreferrer"><i class="bi bi-whatsapp fs-5"></i></a>

    <!-- Telegram -->
    <a href="https://t.me/b_model_pro" class="text-primary me-4" aria-label="Telegram" target="_blank" rel="noopener noreferrer"><i class="bi bi-telegram fs-5"></i></a>

    <!-- Telegram-канал IdeaHub -->
    <a href="https://t.me/+Ztz_1ysmG3kyOWFi" class="btn btn-sm btn-primary" aria-label="Telegram Channel" target="_blank" rel="noopener noreferrer"><i class="bi bi-send-fill me-2"></i>Подписаться</a>
  </div>
</div>
